*{
    font-family: 'Roboto', sans-serif;
}

.container{
    padding: 1em;
}

.container ol{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

ol.pokemons li{

    padding-top: 10px;
    padding-bottom: 10px;
    background-color: azure;
}